*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  width: 100vw;
  height: 100vh;
  font-family: "Epilogue", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  --almost-white: hsl(0, 0%, 98%);
  --Medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --color-a: hsl(228, 45%, 44%);

  --light-bkg: var(--almost-white);
  --med-bgk: var(--Medium-gray);
  --dark-btn: var(--almost-black);
  --clr-icon: var(--color-a: );
}
body {
  width: 100vw;
  height: 100%;
}

/* .main_content{
  display: grid;
  grid-template-columns: 1f 1fr;
} */

.background_image {
  background-image: url(images/image-hero-desktop.png);
  object-fit: cover;
}

/* .nav {
  
  width: 100%; */
/* height:10%; */
/* background: var(--light-bkg);
  padding: 0.8rem 0.7rem 2rem 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background:green;
}

.snap_img{
  flex-grow: 1;
  width: 5rem;
}

#check,#check_out{
  display:none;
}


.nav_wrapper{
  
  display: flex;
  flex-direction: row;
  
  width:100%;

} */

/* .buttons_nav{
 
  display: flex;
  justify-content: center;
  background: blue;
  flex-grow: 2;
} */

/* .buttons_nav > button{
  all: unset;
  display: grid;
  place-content: center;
  
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 0.7rem;
  font-weight: 600;
  opacity: 0.7;
  border:2px solid transparent;
  font-size: 0.9rem;
  
  }
  .buttons_nav > button:hover{
    border:2px solid var(--dark-btn);
    opacity: 0.7;
  }
  
  .buttons_nav > button:active{
    border:2px solid var(--dark-btn);
    background: var(--dark-btn);
    color: var(--light-bkg);
    opacity: 1;
  }
   */

/* 


.sub_nav {

  display: none;
}

.nav_holder {
  display: flex;
align-items: center;

  background: var(--light-bkg);
  flex-wrap: wrap;
  flex-grow: 3;
}

ul{
  list-style: none;
  display:flex;
  align-items: center;
  gap:2rem;
  width:70vw;
}
 */

@media screen and (max-width: 375px) {
  body {
    background: var(--light-bkg);
  }
  /* .main_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    width:100vw;
  } */
  .nav {
    background: var(--light-bkg);
    padding: 0.8rem 0.7rem 0.8rem 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .snap_img,
  .hamburger_menue {
    height: 100%;
    display: inline-flex;
  }
  .snap_img > img {
    padding-top: 0.3rem;
    height: 2rem;
  }
  .hamburger_menue > img {
    height: 1.3rem;
    cursor: pointer;
  }
  /*==============================================================================*/
  /*=====================  Nav-sidebar  ==================================*/
  /*==============================================================================*/
  .nav_wrapper {
    position: absolute;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
  }
  .nav_holder {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--light-bkg);
    width: 65%;
    height: 100%;
    left: 40%;
    /* padding-left:1.5rem; */
  }

  .sub_nav {
    display: none;
  }
  .sub_nav > li {
    display: inline-flex;
    width: 80%;
    padding: 0.3rem;
    border-radius: 0.4rem;
  }

  .list_img {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: red;
    margin-right: 0.5rem;
  }

  #check:checked ~ .nav_wrapper {
    animation: 0.5s both come;
  }
  #check {
    /* display: none; */
  }
  .sub_nav > li:hover {
    background: var(--dark-btn);
    opacity: 0.4;
    color: var(--light-bkg);
  }

  #list_sublist:checked ~ .sub_nav,
  #list_sublist_two:checked ~ .sub_nav {
    display: flex;
    list-style: none;
    margin: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  /*=====================  Nav-sidebar open ==================================*/

  .close_menue {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  #check_out {
    width: 2rem;
    height: 2rem;
  }
  #check_out:checked ~ .nav_header {
    background: green;
  }
  .nav_header {
    width: 100%;
  }
  .nav_menue {
    list-style: none;
    padding: 0.5rem 0 0.5rem 0;
    font-weight: 600;
    color: var(--dark-btn);
    opacity: 0.7;
  }
  .nav_menue {
    padding-left: 1rem;
  }

  /*=====================  Nav-sidebar Buttons ==================================*/

  .buttons_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 2rem;
  }
  .buttons_nav > button {
    all: unset;
    display: grid;
    place-content: center;
    width: 80%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.7rem;
    font-weight: 600;
    opacity: 0.7;
    border: 2px solid transparent;
    font-size: 0.9rem;
  }
  .buttons_nav > button:hover {
    border: 2px solid var(--dark-btn);
    opacity: 0.7;
  }

  .buttons_nav > button:active {
    border: 2px solid var(--dark-btn);
    background: var(--dark-btn);
    color: var(--light-bkg);
    opacity: 1;
  }

  /*=====================  Nav-sidebar Buttons Ende ==================================*/

  /*==============================================================================*/
  /*=====================  Side Content  ==================================*/
  /*==============================================================================*/
  .txt_content,
  .img_wrapper,
  .main_header,
  .main_txt {
    width: 100%;
  }

  .txt_content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin: 3% 3% 0 3%;
  }

  .img_wrapper {
    object-fit: contain;
  }
  .main_header {
    font-size: 2rem;
    font-weight: 700;
  }
  .main_txt {
    text-align: center;
    font-weight: 600;
    color: var(--dark-btn);
    opacity: 0.8;
    line-height: 1.4rem;
    font-size: 0.9rem;
  }
  /*==============================================================================*/
  /*=====================  Learn Button  ==================================*/
  /*==============================================================================*/
  .learn_button {
    all: unset;
    background: var(--dark-btn);
    color: var(--light-bkg);
    font-weight: 700;
    display: grid;
    place-content: center;
    width: 40%;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    border-radius: 0.7rem;
  }
  .learn_button:hover {
    cursor: pointer;
    background: var(--color-a);
  }

  /*==============================================================================*/
  /*=====================  Cliebntnt Logos  ==================================*/
  /*==============================================================================*/
  .client_logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .clients {
    display: flex;
    align-items: center;

    height: 100%;
  }
  .clients > img {
    width: 80%;
  }
}

/*------------------------------------------------------------------------------*/
/*-----------------------von Frontend für Footer Links---------------------------------------------*/
/*------------------------------------------------------------------------------*/

.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: var(--dark-btn);
  opacity: 0.4;
  margin-top: 1rem;
}

.attribution a {
  color: var(--color-a);
}

@keyframes come {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
