*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  width: 100vw;
  height: 100vh;
  font-family: "Epilogue", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  --almost-white: hsl(0, 0%, 98%);
  --Medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --color-a: hsl(228, 45%, 44%);

  --light-bkg: var(--almost-white);
  --med-bgk: var(--Medium-gray);
  --dark-btn: var(--almost-black);
  --clr-icon: var(--color-a: );
}
body {
  width: 100vw;
  height: 100vh;
}
header {
  width: 100%;
  background: olive;
  display: flex;
}

.background_image {
  background-image: url(images/image-hero-desktop.png);
  object-fit: cover;
}

@media screen and (max-width: 375px) {
  body {
    background: var(--light-bkg);
  }

  .nav {
    background: var(--light-bkg);
    padding: 0.8rem 0.7rem 0.8rem 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .snap_img,
  .hamburger_menue {
    height: 100%;
    display: inline-flex;
  }
  .snap_img > img {
    padding-top: 0.3rem;
    height: 2rem;
  }
  .hamburger_menue > img {
    height: 1.3rem;
    cursor: pointer;
  }
  /*==============================================================================*/
  /*=====================  Nav-sidebar  ==================================*/
  /*==============================================================================*/
  .nav_wrapper {
    position: absolute;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
  }
  .nav_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: red;
    width: 65%;
    height: 100%;
    left: 40%;
  }
  .close > img {
    cursor: pointer;
    background: green;
  }
  .sub_nav {
    display: none;
  }

  #check:checked .nav_wrapper {
    /* animation: 1s both come;
    transition: 1s b; */
    background: green;
  }
  #check {
    /* display: none; */
  }

  /*==============================================================================*/
  /*=====================  Side Content  ==================================*/
  /*==============================================================================*/
  .txt_content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin: 3% 3% 0 3%;
  }

  .img_wrapper {
    width: 100%;
    /* height: 10rem; */
    object-fit: contain;
  }
  .main_header {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
  }
  .main_txt {
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: var(--dark-btn);
    opacity: 0.8;

    line-height: 1.4rem;
    font-size: 0.9rem;
  }
  /*==============================================================================*/
  /*=====================  Learn Button  ==================================*/
  /*==============================================================================*/
  .learn_button {
    all: unset;
    background: var(--dark-btn);
    color: var(--light-bkg);
    font-weight: 700;
    display: grid;
    place-content: center;
    width: 40%;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    border-radius: 0.7rem;
  }
  .learn_button:hover {
    cursor: pointer;
    background: var(--color-a);
  }

  /*==============================================================================*/
  /*=====================  Cliebntnt Logos  ==================================*/
  /*==============================================================================*/
  .client_logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .clients {
    display: flex;
    align-items: center;

    height: 100%;
  }
  .clients > img {
    width: 80%;
  }
}

/*------------------------------------------------------------------------------*/
/*-----------------------von Frontend für Footer Links---------------------------------------------*/
/*------------------------------------------------------------------------------*/

.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: var(--dark-btn);
  opacity: 0.4;
  margin-top: 1rem;
}

.attribution a {
  color: var(--color-a);
}

@keyframes come {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
